html {
    height: 100%;
}

body {
    background-color: #1a4d80;
    font-family: Arial, Helvetica, sans-serif;
}


/*inicio da sessão header*/ 

header .row .col {
    justify-content: end;
    display: flex;
    width: 100%;
    padding: 20px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

header .row {   
    width: 100%;
}

header .row .col button {
    padding: 16px 0px 16px 0px;
    margin: 0px 0px 25px 0px;
    width: 13%;
    color: #ffff;
    background-color: #0f5b9c;
    border-color:  #2e6da4;
    border-radius: 6px;
    font-size: 16px;
}


/*fim da sessão header*/ 


/*inicio da sessão login*/ 

.login .row {
    text-align: center;
}

.login .row .col img {
    height: 112px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 28px 0px;
}

/*fim da sessão login*/ 



/*inicio da sessão card*/ 

.card {
   margin: 0 auto;
   max-width: 600px;
   padding: 0 25px;
}


.card .rowcard {
    text-align: center;
    width: 100%;
}

.card .rowcard .cardbody {
    background-color: #ffff;
    height: 450px;
    padding: 0px 60px 16px 60px;
    border-radius: 12px;
}

.card .rowcard .cardbody .rowtitlecard .coltitlecard h4 {
    padding: 45px 0px 16px 0px;
    margin: 0px 0px 0px 0px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 100;
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    letter-spacing: 1.1px;

}

.card .rownome .colnome input {   
    padding: 15px 0px 14px 16px;
    margin: 25px 0px 15px 0px;
    width: 97%;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 17px;   
}

.card .rowsenha .colsenha input {
    padding: 15px 0px 14px 16px;
    margin: 15px 0px 25px 0px;
    width: 97%;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 17px;
}    


.card .rowchek .colchek .checkbox {
    display: flex;
    align-items: center;
}

.card .rowchek .colchek .checkbox input {
    height: 16px;
    width: 9%;
    margin: 0px 0px 0px -12px;
}


.card .rowchek .colchek .checkbox vertical-align {  
    padding: 0px 60px 0px 0px;
    margin: 0px 85px 0px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.card .rowchek .colchek .checkbox .colconecte button {  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 13px 36.2px 13px 36.9px;
    margin: 0px 0px 0px 26px;
    background-color: #0f5b9c;
    color: #ffff;
    font-size: 14px;
}

/*fim da sessão card*/ 


/* inicio footer */ 

footer {
    position: relative;
    top: 20%;
    background-color: #ccc;
    margin: 0px -60px 0px -60px;
    border-radius: 0 0 12px 12px;
    cursor: pointer;
}

footer .row {
width: 100%;
}

footer .row .col  {
    padding: 10px;
}

footer .row .col a {
    text-decoration: none;
    padding: 10px;
    color: #333;
}


/* fim footer */

/* inicio desenvolvido */ 

.desenvolvido .row .col p {
text-align: center;
padding: 20px;
margin: 0%;
color: #ffff;
}

/*fim desenvolvido */ 